@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/gilroy-medium.ttf')
}

body {
    font-family: 'Gilroy', 'Arial', sans-serif;
}